<div class="wrapper">
  <div class="site-content">
    <div class="site-sub-content">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fullwidthsidebar">
        <div class="page-list page-content-list">
          <article id="page-11" class="post-11 page type-page status-publish hentry">
            <div class="page-wrapper">
              <div class="page-content">
                <div class="page-content-body">

                  <div class="vc_row wpb_row vc_row-fluid container containerNoPadding">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div class="vc_empty_space" style="height: 48px">
                            <span class="vc_empty_space_inner"></span>
                          </div>



                          <ul class="team-player-list">
                            <li>
                              <div class="player-wrapper">
                                <div class="image" style="background-image:url('./assets/img/streamer-logo.png'); background-size: 80%; background-position: center;
                                  background-repeat: no-repeat;">
                                  <div class="content">
                                    <div class="username">Select Your Profile</div>
                                    <div class="name">
                                      Stream-Power
                                    </div>
                                  </div>
                                  <div class="hover-content">
                                    <a title="Joseph R. Thomas">
                                      <div class="view-profile">
                                        <span>View Profile</span>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="player-wrapper">
                                <div class="image" style="background-image:url('./assets/img/mask-gamer.png'); background-size: 80%; background-position: center;
                                background-repeat: no-repeat;">
                                  <div class="content">
                                    <div class="username">Select Your Profile</div>
                                    <div class="name">Player-Power</div>
                                  </div>
                                  <div class="hover-content">
                                    <a href="http://demo.gloriathemes.com/wp/esport/player/john-doe/" title="John Doe">
                                      <div class="view-profile">
                                        <span>View Profile</span>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>


                        </div>
                      </div>
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>