<div class="site-sub-content" style="transform: none;">
  <div class="page-title-breadcrumbs">
    <div class="page-title-breadcrumbs-profile-image"></div>
    <div class="container">
      <h1>Michael Grzesiek</h1>
    </div>
  </div>
  <div class="container" style="transform: none;">
    <div class="row" style="transform: none;">

      <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 site-content-left right fixedSidebar"
        style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
        <div class="theiaStickySidebar"
          style="padding-top: 0px; padding-bottom: 1px; position: static; top: 30px; left: 349px;">
          <div class="post-list post-content-list">
            <article id="post-101"
              class="post-101 player type-player status-publish has-post-thumbnail hentry game-call-of-duty game-fifa">
              <div class="post-wrapper">
                <div class="post-content-body ">

                  <div class="player-detail-left">
                    <div class="player-wrapper">
                      <div class="image"
                        style="background-image:url(https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=2637929269591025&height=100&width=100&ext=1570141045&hash=AeS8ir6YF_x2LtVm);">
                        <div class="content">
                          <div class="username">SHROUD</div>
                          <ul class="post-share">
                            <li><a class="officialsite" title="OfficialSite" target="_blank"><i class="fa fa-link"
                                  aria-hidden="true"></i></a></li>
                            <li><a class="facebook" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a class="twitch" title="Twitch" target="_blank"><i class="fa fa-twitch"></i></a></li>
                            <li><a class="whatsapp" title="Whatsapp" target="_blank"><i class="fab fa-whatsapp"></i></a>
                            </li>
                            <li><a class="payPal" title="PayPal" target="_blank"><i class="fab fa-cc-paypal"></i></a>
                            </li>
                            <ul></ul>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="content-title-element dark size1">
                    <div class="title"><span>Rank Gaming</span></div>
                    <br>
                    <div class="description">
                      <div class="title"><span><i class="fas fa-medal"></i> 5°</span></div>
                    </div>
                  </div>

                <br><br><br>

                  <div class="content-title-element dark size1">
                    <div class="title"><span>Team
                      </span></div>
                    <div class="description">
                      <div class="team-background"></div>
                    </div>
                  </div>

                  <!-- Frame to load twitch tv -->
                  <!-- <div class="single-twitch-area"><iframe src="https://player.twitch.tv/?channel=ign" frameborder="0"
                      allowfullscreen="true" scrolling="no" height="378" width="620"></iframe></div> -->

                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 site-content-right right fixedSidebar"
        style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
        <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static;">
          <div id="search-2" class="general-sidebar-wrap widget-box widget_search">
            <form role="search" method="get" id="searchform" class="searchform">
              <div class="search-form-widget"> <input type="text" value="" placeholder="Search" name="s" id="s"
                  class="searchform-text"> <button id="searchsubmit">Search</button></div>
            </form>
          </div>
          <div id="esport_latest_posts_widget-2"
            class="general-sidebar-wrap widget-box widget_esport_latest_posts_widget">
            <div class="widget-title">Latest Posts</div>
            <div class="widget-content">
              <div class="latest-posts-widget">
                <div class="post-list-styles post-list-style-3">
                  <div class="image"><a title="Top 10 eSport Players"><img
                        src=""
                        alt="Top 10 eSport Players"></a></div>
                  <div class="desc">
                    <div class="title"><a title="Top 10 eSport Players">Top 10 eSport Players</a></div>
                    <div class="post-information"><i class="fa fa-calendar" aria-hidden="true"></i>April 21, 2017</div>
                  </div>
                </div>
                <div class="post-list-styles post-list-style-3">
                  <div class="image"><a title="What Happened This eSports Week"><img
                        src=""
                        alt="What Happened This eSports Week"></a></div>
                  <div class="desc">
                    <div class="title"><a title="What Happened This eSports Week">What Happened This eSports Week</a>
                    </div>
                    <div class="post-information"><i class="fa fa-calendar" aria-hidden="true"></i>April 21, 2017</div>
                  </div>
                </div>
                <div class="post-list-styles post-list-style-3">
                  <div class="image"><a title="Best Skin Concepts: Gloria United"><img
                        src=""
                        alt="Best Skin Concepts: Gloria United"></a></div>
                  <div class="desc">
                    <div class="title"><a title="Best Skin Concepts: Gloria United">Best Skin Concepts: Gloria
                        United</a></div>
                    <div class="post-information"><i class="fa fa-calendar" aria-hidden="true"></i>April 21, 2017</div>
                  </div>
                </div>
                <div class="post-list-styles post-list-style-3">
                  <div class="image"><a title="Bull United vs. Rhing United"><img
                        src=""
                        alt="Bull United vs. Rhing United"></a></div>
                  <div class="desc">
                    <div class="title"><a title="Bull United vs. Rhing United">Bull United vs. Rhing United</a></div>
                    <div class="post-information"><i class="fa fa-calendar" aria-hidden="true"></i>January 3, 2017</div>
                  </div>
                </div>
                <div class="post-list-styles post-list-style-3">
                  <div class="image"><a title="Wolf United vs. Tiger United"><img
                        src=""
                        alt="Wolf United vs. Tiger United"></a></div>
                  <div class="desc">
                    <div class="title"><a title="Wolf United vs. Tiger United">Wolf United vs. Tiger United</a></div>
                    <div class="post-information"><i class="fa fa-calendar" aria-hidden="true"></i>January 2, 2017</div>
                  </div>
                </div>
              </div>
            </div>
          </div><br>

        </div>
      </div>
    </div>
  </div>
</div>