<footer class="footer footer-style1 remove-gap-removed">
    <div class="container">
        <div class="footer-content">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="content-title-element white size2">
                                <div class="title">About &amp; <span>Contact</span></div>
                            </div>
                            <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="esport-contact-box">
                                <div class="contact-row about-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Donec magna purus, malesuada at scelerisque vitae, luctus ac lorem. Aenean
                                    convallis ut ligula ut. Sed ad dicam platonem, mea eros illum elitr id similique
                                </div>
                                <div class="contact-row address"><i class="fa fa-map-marker"
                                        aria-hidden="true"></i>Walking Street, Los Angeles, California, USA</div>
                                <div class="contact-row email"><i class="fa fa-envelope" aria-hidden="true"></i><a
                                        href="mailto:info@gloriathemes.com">info@gloriathemes.com</a></div>
                                <div class="contact-row phone"><i class="fa fa-phone" aria-hidden="true"></i><a
                                        href="tel:++019876598766">+01 987 659 87 66</a></div>
                                <div class="contact-row fax"><i class="fa fa-fax" aria-hidden="true"></i>+01 187 303 19
                                    15</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-2">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="content-title-element white size2">
                                <div class="title">Menu</div>
                            </div>
                            <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="vc_wp_custommenu wpb_content_element">
                                <div class="widget widget_nav_menu">
                                    <div class="menu-footer-menu-container">
                                        <ul id="menu-footer-menu" class="menu">
                                            <li id="menu-item-215"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-215">
                                                <a>Home</a></li>
                                            <li id="menu-item-216"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216">
                                                <a>About</a></li>
                                            <li id="menu-item-217"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-217">
                                                <a>Blog 1</a></li>
                                            <li id="menu-item-218"
                                                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-20 current_page_item menu-item-218">
                                                <a>Fixtures</a>
                                            </li>
                                            <li id="menu-item-221"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-221">
                                                <a>Teams</a></li>
                                            <li id="menu-item-252"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-252">
                                                <a>Gallery</a>
                                            </li>
                                            <li id="menu-item-253"
                                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-253">
                                                <a>Videos</a>
                                            </li>
                                            <li id="menu-item-222"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-222">
                                                <a>Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="content-title-element white size2">
                                <div class="title">Latest <span>Posts</span></div>
                            </div>
                            <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="esport-latest-posts-element style3">
                                <div class="archive-post-list-style-3 post-list">
                                    <div class="post-list-styles post-list-style-3">
                                        <div class="image">
                                            <a href="http://demo.gloriathemes.com/wp/esport/top-10-esport-players/"
                                                title="Top 10 eSport Players"><img
                                                    src="http://demo.gloriathemes.com/wp/esport/wp-content/uploads/2017/04/avatar-150x150.jpg"
                                                    alt="Top 10 eSport Players"></a>
                                        </div>
                                        <div class="desc">
                                            <div class="title"><a
                                                    href="http://demo.gloriathemes.com/wp/esport/top-10-esport-players/"
                                                    title="Top 10 eSport Players">Top 10 eSport Players</a></div>
                                            <div class="post-information"><i class="fa fa-calendar"
                                                    aria-hidden="true"></i>April 21, 2017</div>
                                        </div>
                                    </div>
                                    <div class="post-list-styles post-list-style-3">
                                        <div class="image">
                                            <a href="http://demo.gloriathemes.com/wp/esport/what-happened-this-esports-week/"
                                                title="What Happened This eSports Week"><img
                                                    src="http://demo.gloriathemes.com/wp/esport/wp-content/uploads/2017/04/post4-150x150.jpg"
                                                    alt="What Happened This eSports Week"></a>
                                        </div>
                                        <div class="desc">
                                            <div class="title"><a
                                                    href="http://demo.gloriathemes.com/wp/esport/what-happened-this-esports-week/"
                                                    title="What Happened This eSports Week">What Happened This eSports
                                                    Week</a></div>
                                            <div class="post-information"><i class="fa fa-calendar"
                                                    aria-hidden="true"></i>April 21, 2017</div>
                                        </div>
                                    </div>
                                    <div class="post-list-styles post-list-style-3">
                                        <div class="image">
                                            <a href="http://demo.gloriathemes.com/wp/esport/best-skin-concepts-gloria-united/"
                                                title="Best Skin Concepts: Gloria United"><img
                                                    src="http://demo.gloriathemes.com/wp/esport/wp-content/uploads/2017/04/post3-150x150.jpg"
                                                    alt="Best Skin Concepts: Gloria United"></a>
                                        </div>
                                        <div class="desc">
                                            <div class="title"><a
                                                    href="http://demo.gloriathemes.com/wp/esport/best-skin-concepts-gloria-united/"
                                                    title="Best Skin Concepts: Gloria United">Best Skin Concepts: Gloria
                                                    United</a></div>
                                            <div class="post-information"><i class="fa fa-calendar"
                                                    aria-hidden="true"></i>April 21, 2017</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="content-title-element white size2">
                                <div class="title">Sponsors</div>
                            </div>
                            <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="swiper-container logo-carousel gloria-sliders style2 swiper-container-horizontal swiper-container-undefined"
                                data-column-space="10" data-aplay="" data-item="3" data-sloop="">
                                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                    <div class="swiper-slide swiper-slide-active"
                                        style="width: 121.333px; margin-right: 10px;">
                                        <div class="logo-item">
                                            <a href="https://gloriathemes.com/" target="_blank"
                                                title="Gloria Themes"><img
                                                    src="http://demo.gloriathemes.com/wp/esport/wp-content/uploads/2017/04/sponsors-white-1.png"
                                                    alt="Gloria Themes"></a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-next"
                                        style="width: 121.333px; margin-right: 10px;">
                                        <div class="logo-item">
                                            <a href="https://gloriathemes.com/" target="_blank"
                                                title="Gloria Themes"><img
                                                    src="http://demo.gloriathemes.com/wp/esport/wp-content/uploads/2017/04/sponsors-white-2.png"
                                                    alt="Gloria Themes"></a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" style="width: 121.333px; margin-right: 10px;">
                                        <div class="logo-item">
                                            <a href="https://gloriathemes.com/" target="_blank"
                                                title="Gloria Computers"><img
                                                    src="http://demo.gloriathemes.com/wp/esport/wp-content/uploads/2017/04/sponsors-white-3.png"
                                                    alt="Gloria Computers"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 49px"><span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="content-title-element white size2">
                                <div class="title">Newsletter</div>
                            </div>
                            <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="esport-newsletter-element style2">
                                <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-228" method="post" data-id="228"
                                    data-name="eSport Newsletter">
                                    <div class="mc4wp-form-fields">
                                        <p> <input type="email" name="EMAIL" placeholder="Your email address"
                                                required=""> </p>
                                        <p class="submitButton"> <input type="submit" value="Sign up"> </p>
                                    </div><label style="display: none !important;">Leave this field empty if you're
                                        human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                                            autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp"
                                        value="1565221827"><input type="hidden" name="_mc4wp_form_id" value="228"><input
                                        type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
                                    <div class="mc4wp-response"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-copyright">
    <div class="menu-copyright-menu-container">
        <img src="assets/img/hydraTournament.png" style="height: 150px; align-items: center; align-content: center;" />
        <p>© Copyright 2019 HydraDevelopment - All rights reserved.</p>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="http://demo.gloriathemes.com/wp/esport/payment-terms/">Payment
                    Terms</a>
            </li>
            <li><a href="http://demo.gloriathemes.com/wp/esport/privacy-policy/">Privacy
                    Policy</a></li>
        </ul>
    </div>
</div>