<div
  class="page-template-default page page-id-20 woocommerce-js esport-class esport-shop-column-4 wpb-js-composer js-comp-ver-5.6 vc_responsive loaded"
  style="transform: none;">
  <div class="esport-wrapper" id="general-wrapper" style="transform: none;">
    <div class="site-content" style="transform: none;">
      <div class="scroll-wrapper mobile-menu scrollbar-outer" style="position: relative;">

        <div class="scroll-element scroll-x">
          <div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
            <div class="scroll-bar" style="width: 100px;"></div>
          </div>
        </div>
        <div class="scroll-element scroll-y">
          <div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
            <div class="scroll-bar" style="height: 100px;"></div>
          </div>
        </div>
      </div>
      <div class="site-sub-content" style="transform: none;">
        <div class="page-title-breadcrumbs">
          <div class="page-title-breadcrumbs-image"></div>
          <div class="container">
            <h1>Fixtures</h1>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fullwidthsidebar">
          <div class="page-list page-content-list">
            <article id="page-20" class="post-20 page type-page status-publish hentry">
              <div class="page-wrapper">
                <div class="page-content">
                  <div class="page-content-body">
                    <div class="vc_row wpb_row vc_row-fluid container containerNoPadding">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                          <div class="wpb_wrapper">
                            <div class="fixtures-wrapper">
                              <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                  <a href="#game_id_35" aria-controls="game_id_35" role="tab"
                                    data-toggle="tab"><span>Results</span></a>
                                </li>
                                <li role="presentation">
                                  <a href="#game_id_34" aria-controls="game_id_34" role="tab"
                                    data-toggle="tab"><span>Upcoming</span></a>
                                </li>
                              </ul>
                              <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="game_id_35">
                                  <ul class="fixture-list">
                                    <li>
                                      <div class="left">
                                        <div class="game">
                                          <span>FIFA</span>
                                        </div>
                                        <div class="title">
                                          GTR FIFA 17 Super League Match of the
                                          Week 2
                                        </div>
                                        <div class="text">
                                          ONLINE - Proin pellentesque mollis
                                          erat. Praesent lobortis quam non
                                          turpis finibus, tincidunt consectetur
                                          quam dictum. Pellentesque in diam
                                          malesuada, condimentum felis egestas,
                                          ultricies ex. Vivamus venenatis sit.
                                          <a><strong>WATCH THE MATCH</strong></a>
                                        </div>
                                      </div>
                                      <div class="right">
                                        <div class="home-team team-details">
                                          <img src="" alt="Rhinos" /><span class="team-name">Rhinos</span>
                                        </div>
                                        <div class="score-date">
                                          <div class="score">
                                            <span class="home-team-score">7</span><span class="separate">-</span><span
                                              class="away-team-score">0</span>
                                          </div>
                                          <div class="date-time">
                                            <div class="date-time-wrapper">
                                              April 13, 2017 - 15:50
                                            </div>
                                          </div>
                                        </div>
                                        <div class="away-team team-details">
                                          <img src="" alt="Bulls" /><span class="team-name">Bulls</span>
                                        </div>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="left">
                                        <div class="game">
                                          <span>Call of Duty</span>
                                        </div>
                                        <div class="title">
                                          Gloria Xtra 2017 League
                                        </div>
                                        <div class="text">
                                          Proin pellentesque mollis erat.
                                          Praesent lobortis quam non turpis
                                          finibus, tincidunt consectetur quam
                                          dictum. Pellentesque in diam
                                          malesuada, condimentum felis egestas,
                                          ultricies ex. Vivamus venenatis sit
                                          amet odio eu lorem ipsum.
                                        </div>
                                      </div>
                                      <div class="right">
                                        <div class="home-team team-details">
                                          <img src="" alt="Wolf" /><span class="team-name">Wolf</span>
                                        </div>
                                        <div class="score-date">
                                          <div class="score">
                                            <span class="home-team-score">15</span><span class="separate">-</span><span
                                              class="away-team-score">9</span>
                                          </div>
                                          <div class="date-time">
                                            <div class="date-time-wrapper">
                                              June 14, 2017 - 23:21
                                            </div>
                                          </div>
                                        </div>
                                        <div class="away-team team-details">
                                          <img src="" alt="Tigers" /><span class="team-name">Tigers</span>
                                        </div>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="left">
                                        <div class="game">
                                          <span>League of Legends</span>
                                        </div>
                                        <div class="title">
                                          LOL 2107 Winter League
                                        </div>
                                        <div class="text">
                                          ONLINE - Proin pellentesque mollis
                                          erat. Praesent lobortis quam non
                                          turpis finibus, tincidunt consectetur
                                          quam dictum. Pellentesque in diam
                                          malesuada, condimentum felis egestas,
                                          ultricies ex. Vivamus venenatis sit
                                          amet odio eu lorem ipsum.
                                        </div>
                                      </div>
                                      <div class="right">
                                        <div class="home-team team-details">
                                          <img src="" alt="Rhinos" /><span class="team-name">Rhinos</span>
                                        </div>
                                        <div class="score-date">
                                          <div class="score">
                                            <span class="home-team-score">5</span><span class="separate">-</span><span
                                              class="away-team-score">2</span>
                                          </div>
                                          <div class="date-time">
                                            <div class="date-time-wrapper">
                                              April 27, 2017 - 19:55
                                            </div>
                                          </div>
                                        </div>
                                        <div class="away-team team-details">
                                          <img src="" alt="Bulls" /><span class="team-name">Bulls</span>
                                        </div>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="left">
                                        <div class="game">
                                          <span>CS: GO &amp; 1.6</span>
                                        </div>
                                        <div class="title">
                                          Counter-Strike: Global Offensive
                                          Winter Cup 2017
                                        </div>
                                        <div class="text">
                                          ONLINE - Proin pellentesque mollis
                                          erat. Praesent lobortis quam non
                                          turpis finibus, tincidunt consectetur
                                          quam dictum. Pellentesque in diam
                                          malesuada, condimentum felis egestas,
                                          ultricies ex. Vivamus venenatis sit
                                          amet odio eu lorem ipsum.
                                        </div>
                                      </div>
                                      <div class="right">
                                        <div class="home-team team-details">
                                          <img src="" alt="Bulls" /><span class="team-name">Bulls</span>
                                        </div>
                                        <div class="score-date">
                                          <div class="score">
                                            <span class="home-team-score">15</span><span class="separate">-</span><span
                                              class="away-team-score">14</span>
                                          </div>
                                          <div class="date-time">
                                            <div class="date-time-wrapper">
                                              April 13, 2017 - 15:50
                                            </div>
                                          </div>
                                        </div>
                                        <div class="away-team team-details">
                                          <img src="" alt="Tigers" /><span class="team-name">Tigers</span>
                                        </div>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="left">
                                        <div class="game">
                                          <span>FIFA</span>
                                        </div>
                                        <div class="title">
                                          GTR FIFA 17 Super League Opening Match
                                        </div>
                                        <div class="text">
                                          ONLINE - Proin pellentesque mollis
                                          erat. Praesent lobortis quam non
                                          turpis finibus, tincidunt consectetur
                                          quam dictum. Pellentesque in diam
                                          malesuada, condimentum felis egestas,
                                          ultricies ex. Vivamus venenatis sit
                                          amet odio eu lorem ipsum.
                                        </div>
                                      </div>
                                      <div class="right">
                                        <div class="home-team team-details">
                                          <img src="" alt="Wolf" /><span class="team-name">Wolf</span>
                                        </div>
                                        <div class="score-date">
                                          <div class="score">
                                            <span class="home-team-score">3</span><span class="separate">-</span><span
                                              class="away-team-score">1</span>
                                          </div>
                                          <div class="date-time">
                                            <div class="date-time-wrapper">
                                              April 13, 2017 - 15:50
                                            </div>
                                          </div>
                                        </div>
                                        <div class="away-team team-details">
                                          <img src="" alt="Rhinos" /><span class="team-name">Rhinos</span>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="game_id_34">
                                  <ul class="fixture-list">
                                    <li>
                                      <div class="left">
                                        <div class="game">
                                          <span>FIFA</span>
                                        </div>
                                        <div class="title">
                                          GTR FIFA 17 Super League Match of the
                                          Week 4
                                        </div>
                                        <div class="text">
                                          ONLINE - Proin pellentesque mollis
                                          erat. Praesent lobortis quam non
                                          turpis finibus, tincidunt consectetur
                                          quam dictum. Pellentesque in diam
                                          malesuada, condimentum felis egestas,
                                          ultricies ex. Vivamus venenatis sit
                                          amet odio eu lorem ipsum.
                                        </div>
                                      </div>
                                      <div class="right">
                                        <div class="home-team team-details">
                                          <img src="" alt="Tigers" /><span class="team-name">Tigers</span>
                                        </div>
                                        <div class="score-date">
                                          <div class="score">
                                            <span class="vs">vs</span>
                                          </div>
                                          <div class="date-time">
                                            <div class="date-time-wrapper">
                                              June 13, 2017 - 21:45
                                            </div>
                                          </div>
                                        </div>
                                        <div class="away-team team-details">
                                          <img src="" alt="Bulls" /><span class="team-name">Bulls</span>
                                        </div>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="left">
                                        <div class="game">
                                          <span>FIFA</span>
                                        </div>
                                        <div class="title">
                                          GTR FIFA 17 Super League Match of the
                                          Week 3
                                        </div>
                                        <div class="text">
                                          ONLINE - Proin pellentesque mollis
                                          erat. Praesent lobortis quam non
                                          turpis finibus, tincidunt consectetur
                                          quam dictum. Pellentesque in diam
                                          malesuada, condimentum felis egestas,
                                          ultricies ex. Vivamus venenatis sit
                                          amet odio eu lorem ipsum.
                                        </div>
                                      </div>
                                      <div class="right">
                                        <div class="home-team team-details">
                                          <img src="" alt="Wolf" /><span class="team-name">Wolf</span>
                                        </div>
                                        <div class="score-date">
                                          <div class="score">
                                            <span class="vs">vs</span>
                                          </div>
                                          <div class="date-time">
                                            <div class="date-time-wrapper">
                                              May 18, 2017 - 19:30
                                            </div>
                                          </div>
                                        </div>
                                        <div class="away-team team-details">
                                          <img src="" alt="Rhinos" /><span class="team-name">Rhinos</span>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="vc_empty_space" style="height: 88px">
                              <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="wpb_text_column wpb_content_element">
                              <div class="wpb_wrapper">
                                <p>
                                  Lorem ipsum dolor sit amet, voluptua iracundia
                                  disputationi an pri, his utinam principes
                                  dignissim ad. Ne nec dolore oblique nusquam,
                                  cu luptatum volutpat delicatissimi has. Sed ad
                                  dicam platonem, mea eros illum elitr id, ei
                                  has similique constituto. Ea movet saperet
                                  rationibus sit, pri autem aliquip invidunt an.
                                  Consetetur omittantur consequuntur eos et.
                                  Eleifend praesent iudicabit no mea, tollit
                                  persequeris ex pri, tota splendide voluptaria
                                  in pri. Ad per tale aliquip, ei sit viris
                                  commune albucius. Eos aliquip scaevola ut, eum
                                  alii mentitum prodesset no, his ne suas
                                  atomorum. Et numquam deleniti ponderum vis,
                                  quod error at mei. Novum blandit adolescens
                                  sea te. Ea eum cetero scaevola.
                                </p>
                                <p>
                                  In his meis porro viris, illud imperdiet
                                  reprimique et vim. Feugiat atomorum
                                  reprehendunt vix ei, ei facete regione pri.
                                  Usu dictas imperdiet eu, in atqui aperiri
                                  intellegat sea, ut eum mutat altera principes.
                                  Te sit quaeque oportere, has modus inani
                                  ceteros ad. Impedit blandit deseruisse duo ea,
                                  ne graecis deleniti incorrupte usu. Ut mei
                                  splendide accommodare. An pri iisque meliore,
                                  eam ei splendide eloquentiam philosophia. Ne
                                  per meis eleifend electram. Ne eam porro
                                  aliquam invidunt. Minim docendi eloquentiam
                                  cum ad. Quo ea mazim ubique, ex est fuisset
                                  blandit scaevola. Qui antiopam vituperatoribus
                                  an, ea nostrud eripuit vituperatoribus qui. In
                                  eam diam nominati, per ea alia nam.
                                </p>
                              </div>
                            </div>
                            <div class="vc_empty_space" style="height: 58px">
                              <span class="vc_empty_space_inner"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1492790774744 vc_row-has-fill">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                          <div class="wpb_wrapper">
                            <div class="vc_empty_space" style="height: 25px">
                              <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid container containerNoPadding">
                              <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                  <div class="wpb_wrapper">
                                    <div
                                      class="swiper-container logo-carousel gloria-sliders style2 swiper-container-horizontal swiper-container-undefined"
                                      data-column-space="30" data-aplay="5000" data-item="6" data-sloop="true">
                                      <div class="swiper-wrapper"
                                        style="transform: translate3d(-414px, 0px, 0px); transition-duration: 0ms;">
                                        <div class="swiper-slide swiper-slide-duplicate"
                                          style="width: 108px; margin-right: 30px;" data-swiper-slide-index="4">
                                          <div class="logo-item">
                                            <a target="_blank" title=""><img src="" alt="" /></a>
                                          </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate"
                                          style="width: 108px; margin-right: 30px;" data-swiper-slide-index="5">
                                          <div class="logo-item">
                                            <a target="_blank" title=""><img src="" alt="" /></a>
                                          </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev"
                                          style="width: 108px; margin-right: 30px;" data-swiper-slide-index="6">
                                          <div class="logo-item">
                                            <a target="_blank" title="GloriaThemes"><img src=""
                                                alt="GloriaThemes" /></a>
                                          </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-active"
                                          style="width: 108px; margin-right: 30px;" data-swiper-slide-index="0">
                                          <div class="logo-item">
                                            <a target="_blank" title=""><img src="" alt="" /></a>
                                          </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-next"
                                          style="width: 108px; margin-right: 30px;" data-swiper-slide-index="1">
                                          <div class="logo-item">
                                            <a target="_blank" title=""><img src="" alt="" /></a>
                                          </div>
                                        </div>
                                        <div class="swiper-slide" style="width: 108px; margin-right: 30px;"
                                          data-swiper-slide-index="2">
                                          <div class="logo-item">
                                            <a target="_blank" title=""><img src="" alt="" /></a>
                                          </div>
                                        </div>
                                        <div class="swiper-slide" style="width: 108px; margin-right: 30px;"
                                          data-swiper-slide-index="3">
                                          <div class="logo-item">
                                            <a target="_blank" title="WordPress"><img src="" alt="WordPress" /></a>
                                          </div>
                                        </div>
                                        <div class="swiper-slide" style="width: 108px; margin-right: 30px;"
                                          data-swiper-slide-index="4">
                                          <div class="logo-item">
                                            <a target="_blank" title=""><img src="" alt="" /></a>
                                          </div>
                                        </div>
                                        <div class="swiper-slide" style="width: 108px; margin-right: 30px;"
                                          data-swiper-slide-index="5">
                                          <div class="logo-item">
                                            <a target="_blank" title=""><img src="" alt="" /></a>
                                          </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate-prev"
                                          style="width: 108px; margin-right: 30px;" data-swiper-slide-index="6">
                                          <div class="logo-item">
                                            <a target="_blank" title=""><img src="" alt="" /></a>
                                          </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                                          style="width: 108px; margin-right: 30px;" data-swiper-slide-index="0">
                                          <div class="logo-item">
                                            <a target="_blank" title=""><img src="" alt="" /></a>
                                          </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next"
                                          style="width: 108px; margin-right: 30px;" data-swiper-slide-index="1">
                                          <div class="logo-item">
                                            <a target="_blank" title=""><img src="" alt="" /></a>
                                          </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate"
                                          style="width: 108px; margin-right: 30px;" data-swiper-slide-index="2">
                                          <div class="logo-item">
                                            <a target="_blank" title=""><img src="" alt="" /></a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="vc_empty_space" style="height: 60px">
                              <span class="vc_empty_space_inner"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hide fixedSidebar"
          style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
          <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 0px; position: static;">
            <div id="search-2" class="general-sidebar-wrap widget-box widget_search">
              <form role="search" method="get" id="searchform" class="searchform">
                <div class="search-form-widget">
                  <input type="text" value="" placeholder="Search" name="s" id="s" class="searchform-text" />
                  <button id="searchsubmit">Search</button>
                </div>
              </form>
            </div>
            <div id="esport_latest_posts_widget-2"
              class="general-sidebar-wrap widget-box widget_esport_latest_posts_widget">
              <div class="widget-title">Latest Posts</div>
              <div class="widget-content">
                <div class="latest-posts-widget">
                  <div class="post-list-styles post-list-style-3">
                    <div class="image">
                      <a title="Top 10 eSport Players"><img src="" alt="Top 10 eSport Players" /></a>
                    </div>
                    <div class="desc">
                      <div class="title">
                        <a title="Top 10 eSport Players">Top 10 eSport Players</a>
                      </div>
                      <div class="post-information">
                        <i class="fa fa-calendar" aria-hidden="true"></i>April
                        21, 2017
                      </div>
                    </div>
                  </div>
                  <div class="post-list-styles post-list-style-3">
                    <div class="image">
                      <a title="What Happened This eSports Week"><img src=""
                          alt="What Happened This eSports Week" /></a>
                    </div>
                    <div class="desc">
                      <div class="title">
                        <a title="What Happened This eSports Week">What Happened This eSports Week</a>
                      </div>
                      <div class="post-information">
                        <i class="fa fa-calendar" aria-hidden="true"></i>April
                        21, 2017
                      </div>
                    </div>
                  </div>
                  <div class="post-list-styles post-list-style-3">
                    <div class="image">
                      <a title="Best Skin Concepts: "><img src="" alt="Best Skin Concepts: " /></a>
                    </div>
                    <div class="desc">
                      <div class="title">
                        <a title="Best Skin Concepts: ">Best Skin Concepts: Gloria United</a>
                      </div>
                      <div class="post-information">
                        <i class="fa fa-calendar" aria-hidden="true"></i>April
                        21, 2017
                      </div>
                    </div>
                  </div>
                  <div class="post-list-styles post-list-style-3">
                    <div class="image">
                      <a title="Bull United vs. Rhing United"><img src="" alt="Bull United vs. Rhing United" /></a>
                    </div>
                    <div class="desc">
                      <div class="title">
                        <a title="Bull United vs. Rhing United">Bull United vs. Rhing United</a>
                      </div>
                      <div class="post-information">
                        <i class="fa fa-calendar" aria-hidden="true"></i>January
                        3, 2017
                      </div>
                    </div>
                  </div>
                  <div class="post-list-styles post-list-style-3">
                    <div class="image">
                      <a title="Wolf United vs. Tiger United"><img src="" alt="Wolf United vs. Tiger United" /></a>
                    </div>
                    <div class="desc">
                      <div class="title">
                        <a title="Wolf United vs. Tiger United">Wolf United vs. Tiger United</a>
                      </div>
                      <div class="post-information">
                        <i class="fa fa-calendar" aria-hidden="true"></i>January
                        2, 2017
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="categories-2" class="general-sidebar-wrap widget-box widget_categories">
              <div class="widget-title">Categories</div>
              <ul>
                <li class="cat-item cat-item-20">
                  <a>Lists</a>
                </li>
                <li class="cat-item cat-item-1">
                  <a>News</a>
                </li>
                <li class="cat-item cat-item-21">
                  <a>Videos</a>
                </li>
              </ul>
            </div>
            <div id="mc4wp_form_widget-2" class="general-sidebar-wrap widget-box widget_mc4wp_form_widget">
              <div class="widget-title">Newsletter</div>
              <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-228" method="post" data-id="228"
                data-name="eSport Newsletter">
                <div class="mc4wp-form-fields">
                  <p>
                    <input type="email" name="EMAIL" placeholder="Your email address" required="" />
                  </p>
                  <p class="submitButton">
                    <input type="submit" value="Sign up" />
                  </p>
                </div>
                <label style="display: none !important;">Leave this field empty if you're human:
                  <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input
                  type="hidden" name="_mc4wp_timestamp" value="1565219585" />
                <input type="hidden" name="_mc4wp_form_id" value="228" /><input type="hidden"
                  name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                <div class="mc4wp-response"></div>
              </form>
            </div>
            <div id="tp_widget_recent_tweets-2" class="general-sidebar-wrap widget-box widget_tp_widget_recent_tweets">
              <div class="widget-title">Twitter</div>
              <div class="tp_recent_tweets">
                <ul>
                  <li>
                    <span>Arven WordPress photography theme is released!
                      <a target="_blank"></a>
                      <a target="_blank"></a></span>
                    <a class="twitter_time" target="_blank"></a>
                  </li>
                  <li>
                    <span>
                      <a title="Search #WordPress" target="_blank"></a>
                      theme for architecture companies, professional architect,
                      landscape designer, interior designe…
                      <a target="_blank"></a></span>
                    <a class="twitter_time" target="_blank">120 days ago</a>
                  </li>
                  <li>
                    <span>Our new logo is published, design by
                      <a title="Follow ozgu_ldn" target="_blank"></a>.
                      <a target="_blank"></a></span>
                    <a class="twitter_time" target="_blank"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade pt-user-modal" id="user_login_popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="user-box">
          <div class="user-box-login">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">X</span>
            </button>
            <div class="pt-login">
              <form id="pt_login_form" method="post">
                <div class="form-group">
                  <input class="required" name="pt_user_login" type="text" placeholder="Username" />
                </div>
                <div class="form-group">
                  <input class="required" name="pt_user_pass" id="pt_user_pass" type="password"
                    placeholder="Password" />
                </div>
                <div class="form-group login-form-remember-me">
                  <div class="login-remember-me-wrapper">
                    <input type="checkbox" value="None" id="login-remember-me-wrapper-input" name="pt_remember_me" />
                    <label for="login-remember-me-wrapper-input" id="login-remember-me-wrapper-label">Remember
                      Me</label>
                  </div>
                </div>
                <div class="form-group login-form-button">
                  <input type="hidden" name="action" value="esport_login_member" />
                  <button data-loading-text="Loading..." type="submit">
                    Sign in
                  </button>
                </div>
                <div class="bottom-links">
                  <a>Lost Password?</a>
                  <a href="" data-target="#user_register_popup" data-toggle="modal" class="create-an-account"
                    data-dismiss="modal">Create an Account</a>
                </div>
                <input type="hidden" id="login-security" name="login-security" value="34be260540" /><input type="hidden"
                  name="_wp_http_referer" value="/wp/esport/esport-fixtures/" />
              </form>
              <div class="pt-errors"></div>
            </div>
            <div class="pt-loading">
              <p><i class="fa fa-refresh fa-spin"></i><br />Loading...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade pt-user-modal" id="user_register_popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="user-box">
          <div class="user-box-login">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">X</span>
            </button>
            <div class="pt-register">
              <p class="users_can_register">New membership are not allowed.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box;
height: 200px; margin: 0px; padding: 0px; width: 200px;">
  <div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"></div>
</div>